:root {
  --font-grey: #9b9b98;
  --font-dark-grey: #474745;
  --font-black: #04050c;
  --font-orange: #ff5921;
  --background-grey: #ececea;
  --shadow: #04050c1a;
  --button-color: #127119;
  --button-text: #daedce;
}

body {
  font-family: Jost;
  font-size: 14px;
}

#display {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 30vw;
  margin: 0;
  border-right: 1px solid grey;
}

#display #mainImage {
  margin: 10% auto;
  max-width: 70%;
  display: block;
}
#carousel {
  display: flex;
  max-height: 15vh;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#carousel .button {
  height: 16px;
  width: 17px;
}
#carousel .button:hover {
  cursor: pointer;
}
#carouselDisplay {
  display: flex;
  justify-content: space-around;
}
#carouselDisplay img {
  max-width: 25%;
}

main {
  position: fixed;
  right: 0;
  top: 0;

  width: 70vw;
  overflow-x: hidden;
  padding: 30px;
  box-sizing: border-box;
}
main .breadcrumb {
  font-weight: 400;
  line-height: 20px;
  color: var(--font-grey);
  margin-bottom: 15px;
}

main .breadcrumb span + span::before {
  height: 5px;
  border: 1px solid var(--font-grey);
  margin: 0 5px;
  display: inline-block;
  content: "";
}

main .label {
  height: 44px;
  box-shadow: 0px 4px 8px 0px var(--shadow);
  display: flex;
  font-size: 14;
  align-items: center;
  justify-content: space-between;
  color: var(--font-black);
}

main .label .number {
  display: flex;
  align-items: center;
}
main .label .number img {
  margin: 10px;
  size: 20px;
}
main .label .number span {
  font-weight: 600;
  margin-right: 10px;
}
main .label .number span::before {
  content: "#";
}
main .label #labelName {
  font-weight: 400;
  flex-grow: 1;
}

main .label .abr {
  display: flex;
  border-left: 1px solid var(--font-grey);
  padding: 0 5px;
  margin: 10px;
  font-weight: 600;
}

main .label .abr img {
  size: 20px;
}
main .title {
  display: flex;
  justify-content: space-between;
  margin: 0;
}
main h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  color: var(--font-black);
  margin-bottom: 0;
}

main h2 {
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  margin-top: 0;
}

main .buy {
  background-color: var(--background-grey);
  box-shadow: 0px 4px 8px 0px var(--shadow);
  padding: 14px 20px 18px 20px;
}

main .buy h3 {
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  margin: 0;
  color: var(--font-dark-grey);
}

main .buy p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: var(--font-grey);
  margin: 0;
}

main .buy .amount {
  display: flex;
  align-items: center;
  background-color: white;
  height: 30px;
  border: 1px solid var(--font-grey);
  padding: 5px;
  width: fit-content;
}
main .buy .addToCart {
  margin-top: 10px;
  display: flex;
}
main .buy .addToCart .filter {
  height: 40px;
  width: 40px;
  padding: 4px;
  box-shadow: 0px 4px 8px 0px #04050c1a;
  box-sizing: border-box;
  margin-left: 10px;
  background-color: var(--background-grey);
}
main .buy .amount input {
  background-color: inherit;
  border: none;
  text-align: center;
  width: 50px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.5px;
  text-align: center;
}
main .buy button {
  background-color: var(--button-color);
  color: var(--button-text);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.5px;
  margin-left: 20px;
  border: none;
  border-radius: 0;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 8px 12px 8px 12px;
}
main .buy button img {
  margin: 5px;
  display: inline-block;
}

main section {
  margin-top: 20px;
}
main section .title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: var(--font-black);
  margin: 0 15px;
}
main section .title .more {
  color: var(--font-orange);
}
main section .item {
  display: flex;
  justify-content: space-between;
  background-color: var(--background-grey);
  color: var(--font-grey);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.25px;
  padding: 10px;
  margin-top: 5px;
}
main section #color {
  color: #0085ff;
}
main section #type {
  color: var(--font-dark-grey);
}
main section .item #typeIcon {
  display: inline-block;
  background-color: var(--font-dark-grey);
  color: var(--font-black);
  height: 20px;
  width: 20px;
  font-size: 12px;
  text-align: center;
}
main section #price span {
  margin-left: 10px;
  border-left: 4px solid;
  padding-left: 10px;
}
main section #price span:nth-child(1) {
  border-color: #69bc40;
}
main section #price span:nth-child(2) {
  border-color: #ddc80b;
}
main section #price span:nth-child(3) {
  border-color: #ff8b64;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: inherit;
}
